dist
out
out-*
node_modules
coverage/

.idea

.DS_Store

# Builds
bin/
*.vsix

# Local prompts and rules
/local-prompts

# Test environment
.test_env
.vscode-test/

# Docs
docs/_site/

# Dotenv
.env
.env.integration

#Local lint config
.eslintrc.local.json

#Logging
logs
